.hourly-card-wrapper {
  display: flex;
  gap: 1.5rem;
}
.twentyfour-hour-contents {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.no-wrap {
  white-space: nowrap;
}
