.hourly-card-wrapper {
  display: flex;
  gap: 1.5rem;
}
.twentyfour-hour-contents {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.no-wrap {
  white-space: nowrap;
}
.time-block {
  color: var(--location);
}
@media (max-width: 600px) {
  .hourly-card-wrapper {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .twentyfour-hour-contents {
    /* for horizontal scroll */
    flex: 0 0 auto;
  }
}
@media (max-height: 750px) {
  .hourly-card-wrapper {
    padding-bottom: 4rem;
  }
}
